$theme-colors: (
  'primary': #27a1e8,
  'danger': #ff4136,
);
@import '~bootstrap/scss/bootstrap.scss';


// Form

.center {
  text-align: center;
}

.form-wrapper {
  max-width: 500px;
  width: 100%;
  margin: 60px auto;
  h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
  }
  .signup-status {
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #555;
  }
  padding: 0.75rem;
  // background: #4a4a4a;
  max-width: 600px;
  width: 100%;
  color: #fff;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .label {
      color: #263238;
      display: none;
    }
		.input {
			display: block;
			margin: 0.5rem 0;
			height: 2.3rem;
			outline: none;
      border: 1px solid #888;
      background: transparent;
			// color: #fff;
      font-size: 1rem;
      border-radius: 2px;
      width: 290px;
      padding-left: 0.4rem;
    }
    .button {
      // box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        // 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: 1px solid #27a1e8;
      color: #27a1e8;
      height: 2.3rem;
      border-radius: 2px;
      width: auto;
      margin-top: 1rem;
      &:hover {
        color: #fff;
        background-color: #27a1e8;
      }
    }
	}
}

// Header
.columns {
  margin-left: 10rem !important;
}
.user-entry {
  .login-btn,
  .signup-btn {
    position: absolute;
    top: 1.3%;
    z-index: 999;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .button.is-link.is-inverted.is-outlined {
      border: none !important;
      &:hover {
        color: #27a1e8 !important;
        border-radius: 0;
      }
    }
  }
  .login-btn {
    right: 1.3%;
  }
  .signup-btn {
    right: 8%;
  }
}

// Dashboard

@media screen and (min-width: 769px) {
  .hero.is-medium .hero-body {
    padding-bottom: 1rem !important;
    padding-top: 4rem !important;
  }
}

.dashboard-wrapper {
  display: flex;
  justify-content: space-between;
}

.user-board {
  span {
    margin-left: 5px;
  }
}

// Navbar
@media screen and (min-width: 1024px) {
  .navbar {
    min-height: 4.25rem;
    width: 100%;
  }
}

nav.navbar {
  background-color: #27a1e8;
  min-height: 4.25rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column-wrapper {
  margin-left: 2.5rem !important;
  margin-right: -0.75rem !important;
  margin-top: 3rem !important;
}

.column {
  .image-info {
    width: 360px;
    max-width: 100%;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h4 {
      margin-top: 0.75rem;
      font-weight: 600;
    }
    p {
      padding: 0.75rem 3px;
    }
  }
  .hover {
    padding: 5px;
    border: 1px solid transparent;
    max-width: 200px;
    a {
      color: #4a4a4a;
      &:hover {
        color: #27a1e8;
      }
    }
    &:hover {
      background: rgba(9, 30, 66, 0.13);
      width: 50%;
      padding: 5px;
      border-radius: 4px;
      cursor: pointer;
      color: #27a1e8 !important;
    }
  }
}

.board-link {
  padding-left: 5rem !important;
  a {
    color: #4a4a4a;
  }
  div {
    // margin-top: 5px;
    span {
      margin-left: 5px;
    }
  }
}

.home-span {
  margin-left: 2px;
}

.create-team-wrapper {
  margin-top: 0.5rem;
  h4 {
    padding-left: 5px;
  }
}

.create-team-span {
  margin-left: 5px;
}

// Create new project wrapper
.create-new-wrapper {
  .cp {
    h4 {
      text-align: center;
    }
    p {
      margin: 0.5rem 0;
    }
    border-bottom: 1px solid #666a6dc7;
  }
  div {
    margin: 0.5rem 0;
  }
  padding: 0.75rem;
  // background: #4a4a4a;
  background-color: #384047;
  max-width: 600px;
  width: 100%;
  color: #fff;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  form {
    input {
      display: block;
      margin: 0.5rem 0;
      height: 2rem;
      outline: none;
      border: none;
      background: transparent;
      color: #fff;
      font-size: 1rem;
    }
  }
  .same-class {
    padding: 0.5rem 0.9rem;
    border: 1px solid #666a6dc7;
    border-radius: 3px;
    cursor: pointer;
    .icon {
      float: right;
    }
  }
  .create-project-btn {
    text-align: center;
    margin: 1rem 0;
    button {
      background-color: #27a1e8;
      color: #fff;
      border: 1px solid #27a1e8;
      height: 2.5rem;
      width: 7rem;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

// Modal
.modal-wrapper {
  background: white;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  margin: 100px auto 0;
  transition: all 0.8s;
  width: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  right: 50%;
}

.modal-header {
  background: #27a1e8;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  text-align: right;
}

.modal-header h3 {
  color: white;
  float: left;
  margin: 0;
  padding: 0;
}

.modal-body {
  padding: 1rem;
  text-align: center;
}

.modal-footer {
  background: #263238;
  height: 35px;
  padding: 15px;
}

.close-modal-btn {
  color: white;
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin: 0;
}

.close-modal-btn:hover {
  color: black;
}

.btn-cancel,
.btn-continue {
  background: coral;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 10px;
}

.btn-cancel {
  background-color: #b71c1c;
  float: left;
}

.btn-continue {
  background-color: #1b5e20;
  float: right;
}

.back-drop {
  background-color: rgba(48, 49, 48, 0.42);
  height: 100vh;
  position: absolute;
  left: 50%;
  bottom: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 50%;
  transition: all 1.3s;
  width: 100%;
}

.open-modal-btn {
  margin: 15px;
  padding: 10px;
  font-weight: bold;
}

// Create new Board
.create-board-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 500px;
  width: 100%;
  margin: 60px auto;
  input {
    display: block;
    margin: 1rem 0;
  }
  input[type='text'] {
    padding: 0.75rem;
    outline: none;
    font-size: 1rem;
    border: 1px solid rgba(9, 30, 66, 0.13);
    border-radius: 2px;
  }
  input[type='submit'] {
    background: #27a1e8;
    border: 1px solid #27a1e8;
    cursor: pointer;
    color: #fff;
    padding: 0.5rem;
    border-radius: 2px;
    font-size: 1rem;
  }
}

.board-card {
  max-width: 200px;
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin: 1rem 0.75rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  .trash-icon,
  .edit-icon {
    margin-left: 1rem;
    color: #27a1e8;
  }
  form {
    position: relative;
    padding: 0 1rem;
    input[type='text'] {
      padding: 0.5rem;
      display: inline-block;
      width: 100%;
      outline: none;
      font-size: 1rem;
      border: 1px solid rgba(9, 30, 66, 0.13);
      border-radius: 2px;
    }
    span {
      color: #27a1e8;
      position: absolute;
      margin: 0 0.5rem;
      font-size: 1.5rem;
    }
  }
}

// create a list
.add-list {
  max-width: 150px;
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin: 1rem 0.75rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  span {
    margin-left: 0.2rem;
  }
}
.is-open {
  max-width: 500px;
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin: 1rem 0.75rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  .close-btn {
    position: absolute;
    top: 0;
    right: 0.5rem;
    font-size: 1rem;
    color: #27a1e8;
    cursor: pointer;
  }
}

.create-list-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.list-card {
  max-width: 400px;
  height: fit-content;
  .list-info-wrapper {
    margin-bottom: 2.5rem;
  }
  .trash-icon,
  .edit-icon {
    margin-left: 1rem;
    color: #27a1e8;
  }
}

// Create a Card
.create-card {
  position: relative;
  form {
    display: grid;
    justify-content: center;
    grid-gap: 0.5rem;
    input[type='text'] {
      outline: none;
      display: block;
      height: 2rem;
    }
    input[type='submit'] {
      background: #27a1e8;
      border: 1px solid #27a1e8;
      cursor: pointer;
      color: #fff;
      padding: 0.5rem;
      border-radius: 2px;
      font-size: 1rem;
    }
  }
  .close-btn {
    position: absolute;
    top: 0;
    right: 0.5rem;
    font-size: 1rem;
    color: #27a1e8;
    cursor: pointer;
  }
}

.subtask-card {
  background: #27a1e8;
  border: 1px solid #27a1e8;
  padding: 0.5rem 0;
  color: #fff;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  border-radius: 3px;
  position: relative;
  .task-status {
    position: absolute;
    top: -35px;
    color: #27a1e8;
    left: 0;
    font-size: 1rem;
    padding: 5px;
    background: rgba(9, 30, 66, 0.25);
  }
  .trash-icon,
  .edit-icon {
    margin-left: 1rem;
    color: #fff;
  }
}

.radio-btn-wrapper {
  /*position: relative;*/
  .RadioButton-component-wrapper {
    padding: 0.4rem;
    position: absolute;
    background-color: darkgray;
    font-size: 1rem;
  }
  .checkbox,
  .radio {
    &:hover {
      color: #27a1e8;
    }
  }
}

// user profile dropdown

.userprofile-dropdown {
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
  position: absolute;
  background-color: #fff;
  top: 50%;
  right: 50%;
  max-width: 304px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem 0;
  div {
    margin: 0.75rem 0;
  }
  .logout-btn {
    border: 1px solid #27a1e8;
    padding: 0.5rem 0;
    button {
      background: transparent;
      border: none;
      outline: none;
    }
    &:hover {
      background: #27a1e8;
      button {
        color: #fff;
      }
    }
  }
}

.input.false {
  border: 1px solid red;
}

.main-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.btn-wrapper {
  margin-top: 1rem;
  margin-left: 1rem;
}